li{
    list-style-type: none;
}
.sb{
    padding-left: 5em;
}
.sidenav {
    float: left;
    height: 100%; 
    width: 320px; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #323232;
    overflow-x: hidden; 
    padding-top: 20px;
    color: #b2b2b2;
    font-family: 'Courier New', Courier, monospace;
    
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}


.sidenav a:hover {
    color: #fff;
}

/* Style page content */
.main {
    margin-left: 315px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.container {
    position: relative;
    text-align: left;
    color: rgb(0, 128, 0);
    font-family: monospace;
}
.centered {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    
}
.navbar-black{
    background-color: #323232;
    color: #b2b2b2;
    font-family: monospace;
    
}
h2{
    text-align: center;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
    opacity: 0.8;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
.footer{
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #323232;
    color: #818181;
    text-align: center;
}
.footer :hover{
    color: #b2b2b2;
}
